.row {
    display: flex;
    flex-direction: row;
    width: inherit;
    height: 100%;
}

.col {
    width: 100%;
    min-width: 250px;
    margin: 6px 0 0 6px;
    overflow: auto;
    background-color: white;
}