.row {
    display: flex;
    flex-direction: row;
    width: calc(100vw - 435px);
    height: 100%;
}

.col {
    width: 100%;
    min-width: 250px;
    padding: 6px;
    height: 98%;
    overflow: auto;
}