<div class="servicios-container">
    <div class="usuarios-sidenav">
        <mat-nav-list>
            <ng-container *ngIf="usuariosApi.todos | async as usuarios; else loading">
                <div style="width: 100%;" *ngIf="usuarios.length > 0; else lenp">
                    <div style="display: flex; flex-direction: row; cursor: pointer; margin-bottom: 10px;" *ngFor="let u of usuarios" (click)="seleccionarChat(u);">
                        <img [src]="u?.avatar || u?.avatar != ''? u?.avatar: pathImagen" class="avatar" alt="avatar usuario">
                        <div [ngClass]="{'item-seleccionado': user?.key == u?.key}">
                            <div style="display: flex; flex-direction: column;">
                                <strong>{{u.name}}</strong>
                                <p>{{u.phoneNumber}}</p>
                            </div>
                            <div [ngClass]="{'indicador-seleccionado': user?.key == u?.key}"></div>
                        </div>
                    </div>
                </div>
                <ng-template #lenp>
                    Cargando lista de usuarios..
                </ng-template>
            </ng-container>
            <ng-template #loading>
                Lista vacia..
            </ng-template>
        </mat-nav-list>
    </div>
    <div class="example-sidenav-content">
        <ng-container #contenedor_chat>
            <div style="min-width: 250px; width: 45%; max-width: 350px; padding: 6px;">
                <app-chat [key]="user?.key" [usuario]="servicio"></app-chat>
            </div>
        </ng-container>
    </div>
</div>
