<div class="servicios-container">
    <div class="usuarios-sidenav">
        <mat-toolbar>
            <h3>Usuarios</h3>
        </mat-toolbar>
        <ng-container *ngIf="usuariosApi.todos | async as usuarios; else loading;">
            <ng-container *ngIf="usuarios.length > 0; else lenp;">
                <dl>
                    <dt *ngFor="let u of usuarios">
                  <ng-container *ngIf="u">
                    <mat-card class="mat-elevation-z0 usuario" [ngClass]="{'item-seleccionado': user?.key == u.key}" (click)="seleccionarChat(u);" >
                        <mat-card-header>
                          <div mat-card-avatar class="example-header-image" [style.background-image]="'url('+ (u.avatar ? u.avatar : pathImagen) + ')'" ></div>
                          <mat-card-title><p>{{u.name}}</p></mat-card-title>
                          <mat-card-subtitle> {{u.phoneNumber}} </mat-card-subtitle>
                        </mat-card-header>
                    </mat-card>
                  </ng-container>
                </dt>
                </dl>
            </ng-container>
            <ng-template #lenp>
                Cargando lista de usuarios..
            </ng-template>
        </ng-container>
        <ng-template #loading>
            Lista vacia..
        </ng-template>
    </div>
    <div class="example-sidenav-content">
        <ng-container #contenedor_chat>
            <div style="min-width: 250px; width: 45%; max-width: 350px; padding: 6px;">
                <app-chat [key]="user?.key" [usuario]="servicio"></app-chat>
            </div>
        </ng-container>
    </div>
</div>
