.contorno-imagen {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    cursor: pointer;
}

.imagen {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: cover;
    background-color: white;
}

.mat-mini-fab {
    margin-left: 3px;
    color: #730603;
    background-color: white;
}

.icon-informacion {
    margin: auto 6px;
    cursor: pointer;
}

.mat-form-field {
    width: 80%;
}

p {
    text-align: end;
    margin-right: 10%;
}