.contorno-imagen {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    cursor: pointer;
}

.imagen {
    width: 90px;
    height: 90px;
    border-radius: 50%;
    background-size: cover;
    background-color: white;
}

.mat-mini-fab {
    margin-left: 3px;
    color: #E11513;
    background-color: white;
}