<div class="container-fluid" style="display: flex; width: 100vw; height: 100vh;" *ngIf="!authenticationService.isLoggedIn">
    <mat-card style="margin: auto; max-width: 400px;" class="mat-elevation-z12">
        <mat-card-header>
            <mat-card-title style="color: #730603;">Bienvenido!</mat-card-title>
        </mat-card-header>
        <img mat-card-image src="assets/images/image.jpg" alt="fotografia de todo-yo">
        <mat-card-content>
            <div style="display: flex; flex-direction: column;">
                <mat-form-field>
                    <input type="text" matInput class="formControl" placeholder="Correo electrónico" [(ngModel)]="email">
                    <mat-icon matSuffix style="cursor: pointer;">email</mat-icon>
                </mat-form-field>
                <mat-form-field>
                    <input type="password" matInput class="formControl" placeholder="Contraseña" [(ngModel)]="password">
                    <mat-icon matSuffix style="cursor: pointer;">vpn_key</mat-icon>
                </mat-form-field>
            </div>

        </mat-card-content>
        <mat-card-actions align=end>
            <button mat-stroked-button style="background-color:  #730603; color: white;" (click)="signIn()">Iniciar sesión </button>
        </mat-card-actions>
    </mat-card>
</div>
