.example-header-image {
    background-image: url('/assets/images/icono.png');
    background-size: cover;
    margin: 6px;
    padding: 6px;
    height: 36px;
    width: 36px;
}

.seleccion {
    background: #730603;
    color: whitesmoke;
}

.seleccion2 {
    color: #730603;
    background: whitesmoke;
}

::ng-deep.example-container {
    width: auto;
    height: 100%;
    display: flex;
}

::ng-deep.servicios-container {
    width: calc(100vw - 75px);
    height: 100%;
    display: flex;
}

::ng-deep.cotizacion-container {
    width: calc(100vw - 288px);
    height: 100%;
    display: flex;
    background-color: #F9FAFC;
}

::ng-deep.example-sidenav-content {
    display: flex;
    width: 100%;
    height: 100%;
}

::ng-deep.example-sidenav {
    padding: 6px;
    width: 200px;
    min-width: 200px;
}

::ng-deep.personal-sidenav {
    padding: 6px;
    width: 250px;
    min-width: 250px;
    height: 98%;
    overflow: auto;
    background-color: #F9FAFC;
}

::ng-deep.usuarios-sidenav {
    padding: 6px;
    width: 250px;
    min-width: 250px;
    height: 98%;
    overflow: auto;
    background-color: #F9FAFC;
}

::ng-deep.cotizacion-sidenav {
    padding: 6px;
    width: 280px;
    min-width: 280px;
    height: 98%;
    overflow: auto;
}

::ng-deep.item-seleccionado {
    display: flex;
    width: 100%;
    color: #730603;
}

::ng-deep.indicador-seleccionado {
    margin-left: auto;
    width: 7px;
    height: 7px;
    background-color: #730603;
    border-radius: 50%;
    margin-top: 6px;
    margin-right: 3px;
}

::ng-deep.example-header-image {
    background-size: cover;
}

::ng-deep.example-card {
    margin: 3px;
    cursor: pointer;
}


/* unvisited link */

::ng-deep a:link {
    color: inherit;
    text-decoration: none;
}


/* visited link */

::ng-deep a:visited {
    color: inherit;
    text-decoration: none;
}


/* mouse over link */

::ng-deep a:hover {
    color: inherit;
    text-decoration: none;
}


/* selected link */

::ng-deep a:active {
    color: inherit;
    text-decoration: none;
}

::ng-deep .indicador-estado-inactivo {
    width: 5px;
    min-width: 5px;
    height: auto;
    background-color: #acacac;
}

::ng-deep .indicador-estado-activo {
    width: 5px;
    min-width: 5px;
    height: auto;
    background-color: #ffc8c8;
}

::ng-deep .mat-toolbar {
    background-color: white;
}

::ng-deep .example-spacer {
    flex: 1 1 auto;
}

::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #730603;
}

::ng-deep.mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #ffc8c8;
}

::ng-deep .avatar {
    width: 32px;
    height: 32px;
    border-radius: 50%;
    margin-right: 12px;
    display: block;
}

::ng-deep .chat-admin {
    margin: 3px 3px;
    max-width: 90%;
    width: max-content;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

::ng-deep .chat-user {
    margin: 6px 3px;
    max-width: 90%;
    width: max-content;
    padding: 5px;
    display: flex;
    flex-direction: column;
}

::ng-deep .custom-dialog-container .mat-dialog-container {
    padding: 6px;
    height: auto;
}

::ng-deep .filter-popup .mat-dialog-container {
    padding: 12px 0;
    overflow: unset !important;
    height: max-content;
}

::ng-deep .filter-popup .mat-dialog-container .mat-dialog-content {
    padding: 0 16px 16px 16px;
    overflow: unset !important;
    height: max-content;
    margin: 0;
}

::ng-deep .mat-calendar-body-selected {
    background-color: #730603;
}

::ng-deep.mat-checkbox-checked:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element,
::ng-deep.mat-checkbox:active:not(.mat-checkbox-disabled).mat-accent .mat-ripple-element {
    background-color: #730603!important;
}

::ng-deep.mat-checkbox-indeterminate.mat-accent .mat-checkbox-background,
::ng-deep.mat-checkbox-checked.mat-accent .mat-checkbox-background {
    background-color: #730603!important;
}
