<div>
    <mat-toolbar>
        <h3>
            Historial
        </h3>
    </mat-toolbar>
    <ng-container *ngIf=" historial$ | async as historial; else loading">
        <ng-container *ngIf="historial.length > 0; else leni">
            <dl>
                <dt *ngFor="let item of historial">
                <ng-container *ngIf="item">
                  <mat-card >
                    <mat-card-content>
                        <p> {{item.descripcion}}</p>
                    </mat-card-content>
                    <mat-card-header align="end">
                        <mat-card-subtitle>{{item.fecha | date : 'MMM d, y h:mm:ss a':undefined:locale}}</mat-card-subtitle>
                    </mat-card-header>
                </mat-card>
                </ng-container>
              </dt>
            </dl>
        </ng-container>
    </ng-container>
    <ng-template #leni>
        <div style="padding: 8px; ">
            <p>Sin Historial..</p>
        </div>
    </ng-template>
    <ng-template #loading>
        <div style="padding: 8px; ">
            <p>Cargando historial..</p>
        </div>
    </ng-template>
</div>