<ng-container>
    <mat-toolbar>
        <h3>
            Historial
        </h3>
    </mat-toolbar>
    <div *ngIf=" historial$ | async as historial; else loading">
        <div *ngIf="historial.length > 0; else leni">
            <mat-card *ngFor="let item of historial">
                <mat-card-content>
                    <p> {{item.descripcion}}</p>
                </mat-card-content>
                <mat-card-header>
                    <mat-card-subtitle style="font-size: x-small;">{{item.fecha}}</mat-card-subtitle>
                </mat-card-header>
            </mat-card>
        </div>
        <ng-template #leni>
            <div style="padding: 8px; ">
                <p>Datos insuficientes..</p>
            </div>
        </ng-template>
    </div>
    <ng-template #loading>
        <div style="padding: 8px; ">
            <p>Cargando historial..</p>
        </div>
    </ng-template>
</ng-container>