<ng-container>
    <mat-toolbar>
        <h3>
            Rendimiento
        </h3>
    </mat-toolbar>
    <div *ngIf="interacciones$ | async as interacciones; else loading">
        <div *ngIf="interacciones.length > 0; else leni">

            <div *ngIf="interacciones.length == 1">
                <div *ngIf="interacciones[0].key == 'calificacion'; then contcalf; else contcom"></div>
            </div>
            <div *ngIf="interacciones.length == 2">
                <div *ngIf="interacciones[0].key == 'calificacion'; then contcalf; else contcom"></div>
                <div *ngIf="interacciones[1].key == 'comentario'; then contcom; else contcalf"></div>
            </div>

            <ng-template #contcalf>
                <div style="text-align:center; margin: 12px;">
                    <star-rating value={{interacciones[0].media}} totalstars={{totalstar}} checkedcolor="red " uncheckedcolor="black " size="24px " readonly="true"></star-rating>
                </div>
            </ng-template>
            <ng-template #contcom>
                <div style="text-align: center;">
                    <p>{{interacciones[1].valores.length}} Comentarios</p>
                </div>
                <mat-card *ngFor="let item of interacciones[1].valores">
                    <mat-card-header>
                        <div mat-card-avatar [ngStyle]="{'background-image': 'url(' + item.usuario.foto + ')'}" class="example-header-image"></div>
                        <mat-card-title style="font-size: small;">{{item.usuario.nombre}}</mat-card-title>
                        <mat-card-subtitle style="font-size: x-small;">{{item.fecha}}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-content>
                        <p> {{item.comentario}}</p>
                    </mat-card-content>
                </mat-card>
            </ng-template>

        </div>
        <ng-template #leni>
            <div style="padding: 8px; ">
                <p>Datos insuficientes..</p>
            </div>
        </ng-template>
    </div>
    <ng-template #loading>
        <div style="padding: 8px; ">
            <p>Cargando rendimiento..</p>
        </div>
    </ng-template>
</ng-container>