<div class="servicios-container">
    <div class="personal-sidenav">
        <mat-toolbar>
            <h3>Personal</h3>
            <span class="example-spacer"></span>
            <button mat-mini-fab matTooltip="nuevo registro" (click)="nuevoRegistro();">
              <mat-icon aria-hidden="false" aria-label="nuevo registro">person_add_alt_1</mat-icon>
            </button>
        </mat-toolbar>
        <mat-expansion-panel #panel_personal class="mat-elevation-z0">
            <form [formGroup]="informacionForm" (ngSubmit)="submit()" novalidate>
                <div class="fields-container">
                    <div style="display: flex; flex-direction: column;">
                        <mat-form-field appearance="fill">
                            <mat-label>Nombre</mat-label>
                            <input type="text" class="form-control" formControlName="nombre" matInput required>
                            <mat-error *ngIf="getErrorNombre()">{{getErrorNombre()}}</mat-error>
                        </mat-form-field>
                        <mat-form-field appearance="fill">
                            <mat-label>Cargo</mat-label>
                            <input type="text" class="form-control" formControlName="cargo" matInput required>
                            <mat-error *ngIf="getErrorCargo()">{{getErrorCargo()}}</mat-error>
                        </mat-form-field>
                    </div>
                    <div style="display: flex;">
                        <a style="margin-left: auto;" mat-button (click)="cancelarRegistro();">cancelar</a>
                        <button mat-stroked-button type="submit">agregar</button>
                    </div>
                </div>
            </form>
        </mat-expansion-panel>
        <ng-container *ngIf="personalApi.todos | async as personal; else loading">
            <ng-container *ngIf="personal.length > 0; else lenp">
                <dl>
                    <dt *ngFor="let p of personal">
                  <ng-container *ngIf="p">
                    <a class="navigation-item" [routerLink]="'./perfil'" [queryParams]="{id: p.key}" mat-list-item routerLinkActive="active" routerLinkActive #rla1p="routerLinkActive">
                      <mat-card class="mat-elevation-z0 personal" [ngClass]="{'item-seleccionado': rla1p.isActive}">
                        <mat-card-header>
                          <div mat-card-avatar [style.background-image]=" 'url('+ (p.foto ? p.foto: pathImagen)+ ')' " class="example-header-image"></div>
                          <mat-card-subtitle><strong>{{p.nombre}}</strong></mat-card-subtitle >
                        </mat-card-header>
                      </mat-card>
                  </a>
                  </ng-container>
                </dt>
                </dl>
            </ng-container>
        </ng-container>
        <ng-template #lenp>
            Cargando lista personal..
        </ng-template>
        <ng-template #loading>
            Lista vacia..
        </ng-template>
    </div>
    <div class="example-sidenav-content">
        <router-outlet>
        </router-outlet>
    </div>
</div>