.mat-mini-fab {
    margin-left: 3px;
    color: #730603;
    background-color: white;
    cursor: pointer;
}

.btn-cerrar-imagen {
    right: 6px;
    margin-top: 6px;
    background: white;
}

dl {
    margin: 0;
}

mat-card {
    margin-bottom: 8px;
}