<div class="servicios-container">
    <div style="display: flex;">
        <div class="example-container " style="background-color:  #F9FAFC;">
            <div class="example-list">
                <mat-toolbar style="z-index: 2; position: relative; background-color:  #F9FAFC;">
                    <h3>Borrador</h3>
                    <span class="example-spacer"></span>
                    <button mat-mini-fab matTooltip="nueva promoción" (click)="nuevoRegistro();">
              <mat-icon aria-hidden="false" aria-label="nueva promoción">playlist_add</mat-icon>
            </button>
                </mat-toolbar>
                <mat-expansion-panel #panel_promocion class="mat-elevation-z0" style="background-color: whitesmoke; z-index: 0;">
                    <form [formGroup]="informacionForm" (ngSubmit)="submit()" novalidate>
                        <div class="fields-container">
                            <div style="display: flex; flex-direction: column;">
                                <mat-form-field appearance="fill">
                                    <mat-label>Nombre</mat-label>
                                    <input type="text" class="form-control" formControlName="nombre1" matInput required>
                                    <mat-error *ngIf="getErrorNombre()">{{getErrorNombre()}}</mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Subtitulo</mat-label>
                                    <input type="text" class="form-control" formControlName="subtitulo" matInput>
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Descripción</mat-label>
                                    <input type="text" class="form-control" formControlName="descripcion" matInput required>
                                    <mat-error *ngIf="getErrorDescripcion()">{{getErrorDescripcion()}}</mat-error>
                                </mat-form-field>
                                <mat-form-field appearance="fill">
                                    <mat-label>Fecha límite</mat-label>
                                    <input [matDatepicker]="picker" class="form-control" formControlName="fecha" matInput required>
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    <mat-error *ngIf="getErrorFecha()">{{getErrorFecha()}}</mat-error>
                                </mat-form-field>
                                <div *ngIf="imagen" style="display: flex; flex-direction: column;">
                                    <img style="width: auto; height: 150px;" [src]="imageSrc" alt="">
                                    <button mat-mini-fab class="btn-cerrar-imagen" (click)="cancelarImagen()" matTooltip="eliminar imagen"> <mat-icon>close</mat-icon></button>
                                    <div *ngIf="uploadEstado" style="margin: auto;">
                                        <progress max="100" [value]="(uploadPercent$ | async)"></progress>
                                    </div>
                                </div>
                            </div>
                            <div style="display: flex;">
                                <a (click)="fileInput.click()" matPrefix mat-icon-button aria-label="enviar">
                                    <mat-icon style="cursor: pointer;" matTooltip="agregar imagen">insert_photo</mat-icon>
                                </a>
                                <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">

                                <a style="margin-left: auto;" mat-button (click)="cancelarRegistro();">cancelar</a>
                                <button mat-stroked-button type="submit">agregar</button>
                            </div>
                        </div>
                    </form>
                </mat-expansion-panel>
                <div *ngIf="privadas$ | async as privadas; else loadingpr">
                    <div *ngIf="privadas.length > 0; else lengpu">
                        <mat-card class="example-card mat-elevation-z1" style="background-color:  #F9FAFC;" *ngFor="let item of privadas">
                            <mat-card-header>
                                <mat-card-title>{{item.nombre1}}</mat-card-title>
                                <mat-card-subtitle>{{item.fecha | date : 'MMM d, y h:mm:ss a':undefined:locale}}</mat-card-subtitle>
                            </mat-card-header>
                            <img *ngIf="item.tipo != '1'" mat-card-image [src]="item.url" alt="foto promocion todo-yo">
                            <mat-card-subtitle>{{item.subtitulo}}</mat-card-subtitle>
                            <mat-card-content>
                                <p>
                                    {{item.descripcion}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions align="end">
                                <button mat-icon-button matTooltip="hacer público" (click)="actualizarEstado(item.key, true, false)"><mat-icon>public</mat-icon></button>
                                <button mat-icon-button matTooltip="eliminar" (click)="eliminarPromocion(item.key);"><mat-icon>delete</mat-icon></button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
                <ng-template #lengpr>
                    <div style="padding: 6px;">Lista vacía..</div>
                </ng-template>
                <ng-template #loadingpr>
                    <div style="padding: 6px;">Cargando lista..</div>
                </ng-template>

            </div>
        </div>

        <div class="example-container">
            <mat-toolbar>
                <h3>Público</h3>
            </mat-toolbar>
            <div class="example-list">
                <div *ngIf="publicas$ | async as publicas; else loadingpu">
                    <div *ngIf="publicas.length > 0; else lengpu">
                        <mat-card class="example-card mat-elevation-z2" *ngFor="let item of publicas">
                            <mat-card-header>
                                <mat-card-title>{{item.nombre1}}</mat-card-title>
                                <mat-card-subtitle>{{item.fecha | date : 'MMM d, y h:mm:ss a':undefined:locale}}</mat-card-subtitle>
                            </mat-card-header>
                            <img *ngIf="item.tipo != '1'" mat-card-image [src]="item.url" alt="foto promocion todo-yo">
                            <mat-card-subtitle>{{item.subtitulo}}</mat-card-subtitle>
                            <mat-card-content>
                                <p>
                                    {{item.descripcion}}
                                </p>
                            </mat-card-content>
                            <mat-card-actions align="end">
                                <button mat-icon-button matTooltip="hacer privado" (click)="actualizarEstado(item.key, false, false)"><mat-icon>public_off</mat-icon></button>
                                <button mat-icon-button matTooltip="pasar al historial" (click)="actualizarEstado(item.key, true, true)"><mat-icon>playlist_add_check</mat-icon></button>
                            </mat-card-actions>
                        </mat-card>
                    </div>
                </div>
            </div>
            <ng-template #lengpu>
                <div style="padding: 6px;">Lista vacía..</div>
            </ng-template>
            <ng-template #loadingpu>
                <div style="padding: 6px;">Cargando lista..</div>
            </ng-template>

        </div>
    </div>

    <div class="example-container" style="background-color:  #F9FAFC;">
        <mat-toolbar style="background-color:  #F9FAFC;">
            <h3>Archivo</h3>
        </mat-toolbar>
        <div class="example-list">
            <div *ngIf="historial$ | async as historial; else loadinghi">
                <div *ngIf="historial.length > 0; else lenghi">
                    <mat-card class="example-card mat-elevation-z1" style="background-color:  #F9FAFC; " *ngFor="let item of historial">
                        <mat-card-header>
                            <mat-card-title>{{item.nombre1}}</mat-card-title>
                            <mat-card-subtitle>{{item.fecha | date : 'MMM d, y h:mm:ss a':undefined:locale}}</mat-card-subtitle>
                        </mat-card-header>
                        <img *ngIf="item.tipo != '1'" mat-card-image [src]="item.url" alt="foto promocion todo-yo">
                        <mat-card-subtitle>{{item.subtitulo}}</mat-card-subtitle>

                        <mat-card-content>
                            <p>
                                {{item.descripcion}}
                            </p>
                        </mat-card-content>
                        <mat-card-actions align="end">
                            <button mat-icon-button matTooltip="hacer privado" (click)="actualizarEstado(item.key, false, false)"><mat-icon>public_off</mat-icon></button>
                            <button mat-icon-button matTooltip="hacer público" (click)="actualizarEstado(item.key, true, false)"><mat-icon>public</mat-icon></button>
                        </mat-card-actions>
                    </mat-card>
                </div>
            </div>
        </div>
        <ng-template #lenghi>
            <div style="padding: 6px;">Historial vacío..</div>
        </ng-template>
        <ng-template #loadinghi>
            <div style="padding: 6px;">Cargando historial..</div>
        </ng-template>
    </div>
</div>
