.container-chat {
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 6px;
    bottom: 6px;
    max-width: 320px;
    min-width: 320px;
}

.chat {
    background-color: white;
    overflow: auto;
    margin-bottom: 8px;
}

.chat-content {
    width: inherit;
}

.chat-admin,
.chat-user {
    max-width: 90%;
    width: 85%;
    padding: 6px;
    display: flex;
    flex-direction: column;
}

.chat-admin {
    text-align: end;
    margin-left: auto;
}

.chat-user {}

.chat-img {
    cursor: pointer;
    width: 100%;
    height: auto;
}

mat-icon {
    color: #730603;
    cursor: pointer;
}

.sticky-footer {
    background-color: white;
    z-index: 99999;
}

.message-form-field {
    width: 100%;
}

.contenedor-imagen {
    max-width: 320px;
    width: 320px;
    background-color: white;
    height: 200px;
    position: absolute;
    bottom: 55px;
    left: 0;
    box-shadow: 0px -15px 25px 5px rgba(180, 180, 180, 0.507);
}

.mensaje-imagen {
    max-width: inherit;
    width: auto;
    height: 200px;
}

.btn-cerrar-imagen {
    position: absolute;
    right: 8px;
    top: 8px;
    background: white;
}