<div class="container-chat">
    <div class="chat" #chat>
        <div class="chat-content">
            <ng-container *ngIf="chats$ | async as chat; else loading">
                <ng-container *ngIf="chat.length > 0; else lenc">
                    <dl>
                        <dt *ngFor="let item of chat">
                          <ng-container *ngIf="item.nombre == 'user'; else admin">
                             <div class="chat-user">
                              <strong>{{usuario.name}}</strong>
                              <p>{{item.mensaje}}</p>
                              <ng-container *ngIf="item.tipoMensaje == '2'">
                                <img (click)="openDialog(item.urlFoto)" class="chat-img" [src]="item.urlFoto" alt="">
                            </ng-container>
                             </div>
                          </ng-container>
                          <ng-template #admin>
                              <div class="chat-admin">
                                  <strong style="color: #730603;">Todo YO</strong>
                                  <p>{{item.mensaje}}</p>
                                  <ng-container *ngIf="item.tipoMensaje == '2'">
                                    <img (click)="openDialog(item.urlFoto)" class="chat-img" [src]="item.urlFoto" alt="">
                                </ng-container>
                              </div>
                          </ng-template>
                      </dt>
                    </dl>
                </ng-container>
            </ng-container>
            <ng-template #lenc>
                <div style="padding: 12px;">Sin comentarios</div>
            </ng-template>
            <ng-template #loading>
                <div style="padding: 12px;"> Cargando comentarios.. </div>
            </ng-template>
        </div>

        <ng-container *ngIf="imagen">
            <div class="contenedor-imagen">
                <img class="mensaje-imagen" [src]="imageSrc" alt="">
                <button mat-mini-fab class="btn-cerrar-imagen" (click)="cancelarImagen()" matTooltip="cancelar"> <mat-icon>close</mat-icon></button>
                <div *ngIf="uploadEstado" style="margin: auto;">
                    <progress max="100" [value]="(uploadPercent$ | async)"></progress>
                </div>
            </div>
        </ng-container>
    </div>

    <footer class="sticky-footer" #mensaje>
        <form class="message-form" [formGroup]="chatForm" (ngSubmit)="onFormSubmit(chatForm.value)">
            <mat-form-field class="message-form-field">
                <input matInput placeholder="Escribe un comentario.." formControlName="mensaje">
                <a (click)="fileInput.click()" mat-button matPrefix mat-icon-button aria-label="enviar">
                    <mat-icon matTooltip="agregar imagen">insert_photo</mat-icon>
                </a>
                <input hidden (change)="onFileSelected($event)" #fileInput type="file" id="file">

                <button type="submit" [disabled]="!chatForm.valid" mat-button matSuffix mat-icon-button aria-label="enviar">
                  <mat-icon matTooltip="enviar comentario">send</mat-icon>
                </button>
            </mat-form-field>
        </form>
    </footer>
</div>