.contendenor-albanieleria-cotizacion {
    width: calc(100vw - 580px);
    height: 100%;
    display: flex;
    z-index: 10;
}

.contenedor-detalles {
    min-width: 350px;
    width: 65%;
    padding: 6px 12px;
    height: 98%;
    overflow: auto;
}

.contenedor-descripcion {
    display: flex;
    flex-direction: column;
    margin: 12px 24px;
}

.contenedor {
    display: flex;
    flex-direction: column;
    margin: 24px 0;
}

button {
    width: max-content;
}

.mat-mini-fab {
    margin-left: 3px;
    color: #730603;
    background-color: white;
}

.example-icon {
    padding: 0 8px;
}

table {
    width: 100%;
}

mat-icon {
    cursor: pointer;
}

tr.mat-footer-row {
    font-weight: bold;
}

.mat-column-cant {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    text-align: left;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding-left: 6px;
    padding-right: 6px;
}

.mat-column-subtotal {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    text-align: right;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding-left: 6px;
    padding-right: 6px;
}

.mat-column-accion {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    text-align: right;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding-left: 6px;
    padding-right: 6px;
}
