.contendenor-servicio-cotizacion {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    background-color: #730603;
}

.contenedor-descripcion {
    min-width: 350px;
    height: 99%;
    width: auto;
    padding: 6px 6px 0px 6px;
}

.contenedor-chat {
    width: 320px;
}

.example-container {
    width: inherit;
}

.example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
}

.example-sidenav {
    padding: 20px;
}

.contenedor-detalles {
    display: flex;
    flex-direction: column;
    margin: 8px 0 0 0;
    background-color: white;
    height: calc(100% - 70px);
    overflow: auto;
}

.detalles {
    padding: 12px;
}

.detalle {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.subtitle-detalle {
    min-width: 90px;
    color: gray;
}

.contenedor {
    margin: 24px 0;
}

button {
    width: max-content;
}

.mat-mini-fab {
    margin-left: 3px;
    color: #730603;
    background-color: white;
}

.example-icon {
    padding: 0 8px;
}

table {
    width: 100%;
}

mat-icon {
    cursor: pointer;
}

tr.mat-footer-row {
    font-weight: bold;
}

.mat-column-cant,
.mat-column-subtotal,
.mat-column-accion {
    word-wrap: break-word !important;
    white-space: unset !important;
    flex: 0 0 28% !important;
    overflow-wrap: break-word;
    word-wrap: break-word;
    word-break: break-word;
    -ms-hyphens: auto;
    -moz-hyphens: auto;
    -webkit-hyphens: auto;
    hyphens: auto;
    padding-left: 6px;
    padding-right: 6px;
}

.mat-column-cant {
    text-align: left;
}

.mat-column-accion,
.mat-column-subtotal {
    text-align: right;
}